/build
C:\Users\priya\AndroidStudioProjects\Gweiland\app\src\main\java\com\example\gweiland\Constants
https://github.com/Priyangshu2000/Gweiland/blob/49db033bde53106e64858f84d7c88190f3512fa7/app/src/main/java/com/example/gweiland/Constants